doctype html
html
  include src/head/head.pug
  body
    include src/header/header.pug
    .big-news-place
        include src/__news/__news-box-big1
        .line
        include src/__news/__news-box-big2
        .line
        include src/__news/__news-box-big2
        .line
    .big-event-place
        include src/__events/events-big/event-big1/__event-big1
        .line
        include src/__events/events-big/event-big2/__event-big2
        .line
        include src/__events/events-big/event-big2/__event-big2
        .line