.headervsp
header
  a(href="./index.html" style="text-decoration:none;margin-right:5px;")
    button.header-main.__button._button_color-aqua._button_size-big.ripp.button-margin MAIN
  a(href="./news.html" style="text-decoration:none;margin-right:5px;")
    button.header-news.__button._button_color-aqua._button_size-big.ripp.button-margin NEWS
  a(href="./messages.html" style="text-decoration:none;margin-right:5px;")
    button.header-in-messages.__button._button_color-aqua._button_size-big.ripp.button-margin MESSAGES
  a(href="./feedback.html" style="text-decoration:none;margin-right:5px;")
    button.header-feedback.__button._button_color-aqua._button_size-big.ripp.button-margin FEEDBACK
  a(href="./profile.html" style="text-decoration:none;margin-right:5px;")
    button.header-profile.__button._button_color-aqua._button_size-big.ripp.button-margin PROFILE
  include search-container
.headerunder