#form-elements
  form#form
    label
      input#input-text(type='text', required='', placeholder='Your Name', name='input-text')
      span#text-valid-cloud.form_error ERROR
    label(for='input-email')
      br
      input#input-email.input-email(type='email', required='', name='input-email', placeholder='Your Email')
      span#email-valid-cloud.form_error ERROR
    br
    textarea#textarea(name='textarea', form='form', placeholder='Your Message')
    br
    input#radioButton1(type='radio', name='radio')
    label#radiolabel1.radiolabel(for='radioButton1')
    span.radiospan male
    input#radioButton2(type='radio', name='radio')
    label#radiolabel2.radiolabel(for='radioButton2')
    span.radiospan female
    br
    .toggle.toggle-position
      input.check(type='checkbox')
      .b.switch
      .b.track
    br
    br
    span.radiospan send out newsletters to your e-mail
    br
    br
    input.__button._button_color-aqua._button_size-big.ripp(type='submit', value='SUBMIT')
    