h2(style='margin-top: -4px; margin-left: 125px;') TOGGLES
.toggle.toggle-position
  input.check(type='checkbox')
  .b.switch
  .b.track
h2(style='margin-left: 106px; margin-top: 56px;') TICK   BOXES
form#tick-box
  input#radioButton1(type='radio', name='radio')
  label#radiolabel1.radiolabel(for='radioButton1')
  input#radioButton2(type='radio', name='radio')
  label#radiolabel2.radiolabel(for='radioButton2')