body {

    
}
h2{
	font-family: "Lato Black";
	font-size: 18px;
	letter-spacing: 0.7px;
	color: rgb(79,79,79);
}

.flex-profile{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}
