.news-box-big.news-box
  #news-photo1
  .news-content-box.big-news
    p.news-theme
      | It’s all going downhill
    p.news-date 24 AUGUST 2013
    p.news-content-big
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus venenatis dolor finibus iaculis. Quisque eu maximus mi, et pellentesque neque. Aenean quis ultricies urna. Praesent rhoncus augue sed erat pharetra, eget ultricies velit sodales. Maecenas ullamcorper ex sed magna aliquet euismod ac sed dui. Integer id metus sit amet odio egestas dignissim. Praesent lobortis orci at erat congue viverra. Morbi id eros sed purus venenatis imperdiet et ac nulla. Vivamus aliquam mi eget nisi euismod semper. Praesent a diam sed ligula pellentesque feugiat vel in dolor. Aliquam in pulvinar urna. Nulla nec rutrum ex. In ut faucibus risus. Nam nisi tortor, porta a sem non, sollicitudin euismod sapien. Donec imperdiet cursus elit. In dictum ligula eget arcu pharetra pellentesque non condimentum mi. Pellentesque id nibh vitae metus varius egestas. Quisque auctor sodales quam at placerat. Nulla tristique, mi accumsan convallis cursus, lacus lacus euismod eros, in accumsan lacus est sit amet ligula. Pellentesque eget odio nec libero commodo lacinia tincidunt at mi. Duis tempus cursus lectus et faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed interdum sodales molestie.